body{
	margin: 0;
	padding: 0;
}

form{
		font-size: 30px;
		background:#CCC;
		max-width: 350px;
		margin: 0 auto;
		padding: 50px 75px 50px 60px;
}
h2{
	color:#333;
	width: 350px;
	font-size: 30px;
	margin: 0px 10px 5px 05px;
	font-family: "Arial";
}

input, textarea{
	width:330px;
	padding: 10px;
	margin: 0 auto;
	font-family: "Arial";
}

.enviar input{
	background:#069;
	height: 120;
	width: 355px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid;
	color:#fff;
	cursor: pointer;
}
.enviar input:hover{
	background:#078;
}
.echo{
	margin: 0 auto;
}
